* {
  box-sizing: border-box;
}

body {
  background-color: #F4F7F7;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/* Layout Controls */
.grey-box {
  background-color: #E0E2E2;
  font-size: 13px;
  height: 45px;
  overflow: scroll;
  padding: 2px;
  width: 269px;
}

.grey-box p:hover {
  cursor: pointer;
}

#main-section {
  background-color: #F4F7F7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#page-header {
  width: 100%;
  min-height: 150px;
  background-color: #083045;
  border: 1px solid black;
  padding: 20px;
}

.playlist-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-width: 300px;
  margin: 8px;
  border: 1px solid #455A64;
  background-color: #FFFFFF;
  align-items: flex-start;
  height: 470px;
}

.text-container {
  left: 15px;
  margin: 0 20px 0 0;
  position: relative;
  top: 90px;
}

/* Box Images */
#arya-box {
  background-image: url(assets/arya.png);
}

#bran-box {
  background-image: url(assets/bran.png);
}

#cersei-box {
  background-image: url(assets/cersei.png);
}

#dany-box {
  background-image: url(assets/daenerys.png);
}

#jon-box {
  background-image: url(assets/jon.png);
}

#marg-box {
  background-image: url(assets/maergery.png);
}

#sansa-box {
  background-image: url(assets/sansa.png);
}

#tyrion-box {
 background-image: url(assets/tyrion.png);
}

/* Box Image Layout */
#arya-box, #bran-box, #cersei-box, #dany-box, #jon-box, #marg-box, #sansa-box, #tyrion-box {
  margin-bottom: 30px;
  margin-left: 20px;
}

.box-images {
  background-attachment: local;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  box-shadow: 0 0 10px #000000;
  margin: 0 10px;
  vertical-align: top;
}

/* Accessory Elements */
#admin-arrow {
  color: #F4F7F7;
  float: right;
  margin: 0;
}

#admin-arrow img {
  margin: 0 8px;
}

#admin-arrow img, #personal-videos img, #playlists img, #shares img {
  height: 25px;
  padding-top: 7px;
  vertical-align: bottom;
  width: 25px;
}

.arrow img {
  background-color: white;
  border-radius: 50%;
  height: 15%;
  left: 10px;
  opacity: 0.7;
  padding: 8px;
  position: relative;
  top: 10px;
  width: 15%;
}

#personal-videos, #playlists {
  color: rgba(238, 211, 105, 0.72);
}

#personal-videos:hover, #playlists:hover {
  color: #EED369;
  text-shadow: 2px 2px black;
}

#shares {
  color: #EED369;
  font-size: 18px;
  text-shadow: 2px 2px #1E1419;
}


/* Headers & Nav */
h1 {
  color: #083045;
  display: inline-block;
  font-size: 50px;
  margin: 30px 15px;
}

h3 {
  color: #EED369;
  float: right;
  font-family: 'Cinzel', serif;
  font-size: 50px;
  margin-top: 0;
}

h3 img {
  height: 40px;
  vertical-align: middle;
  width: 40px;
}

h4 {
  color: #395656;
  font-size: 18px;
  margin-bottom: 0px;
}

nav {
  position: relative;
  top: 65px;
}

nav p {
  display: inline-block;
  margin-right: 40px;
  text-align: center;
}

nav p:hover {
  cursor: pointer;
}


/* Song Widget */
#currently-playing {
    background-image: url(assets/musicgif.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #083045;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-radius: 50px 0px 0px 0px;
    bottom: 0;
    color: white;
    font-size: 12px;
    height: 40px;
    position: fixed;
    right: 0;
    text-align: right;
    width: 50px;
}

#currently-playing:hover {
  background-position: bottom 10px left 20px;
  border-radius: 0px;
  padding-right: 20px;
  transition-duration: 1s;
  transform: scale(1, 1);
  width: 20%;
}

/* Text */

#accent {
  color: #3E93C4;
  font-size: 35px;
  margin-top: 0;
}

.attachments-and-playlist {
  font-size: 14px;
  margin-bottom: 0;
}

#date {
  color: #6B8282;
  font-size: 13px;
  margin-top: 3px;
}

#playlist-title {
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 0;
}

#views {
  font-size: 17px;
  margin-top: -37px;
  margin-bottom: 0px;
}

#views-number {
  font-size: 28px;
  margin-top: 0px;
}

#views, #views-number {
  background-color: white;
  color: #083045;
  font-weight: bold;
  margin-left: 76%;
  margin-bottom: 0px;
  opacity: 0.72;
  text-align: center;
  width: 60px;
}


/* Media Queries */
@media screen and (max-width: 990px){
  .grey-box {
    width: 380px;
  }

  .playlist-box {
    height: 500px;
    width: 45vw;
  }

  .text-container {
    left: 15px;
    top: 140px;
  }
}

@media screen and (max-width: 900px){
  .arrow img {
    height: 60px;
    width: 60px;
  }

  .grey-box {
    width: 500px;
  }

  .playlist-box {
    display: block;
    height: 690px;
    width: 85vw;
  }

  .text-container {
    top: 330px;
  }

  #views {
    margin-top: -30px;
  }

  #views, #views-number {
    margin-left: 83%;
  }
}

@media screen and (max-width: 860px) {
  .text-container {
    top: 310px;
  }
}

@media screen and (max-width: 780px) {
  .grey-box {
    width: 350px;
  }

  .text-container {
    top: 280px;
  }
}

@media screen and (max-width: 720px) {
  .text-container {
    top: 260px;
  }

  #admin-arrow {
    font-size: 12px;
  }

  #admin-arrow img {
    height: 20px;
    width: 20px;
  }

  h1 {
    font-size: 25px;
    margin: 20px;
  }

  h3 {
    font-size: 35px;
    position: absolute;
    top: 20px;
  }

  h3 img {
    height: 32px;
    width: 32px;
  }

  nav {
    display: flex;
    position: absolute;
  }

  #shares, #playlists, #personal-videos {
    font-size: 12px;
  }
}

@media screen and (max-width: 540px) {
  .text-container {
    top: 180px;
  }
}

@media screen and (max-width: 480px) {
  .grey-box {
    width: 280px;
  }

  .playlist-box {
    height: 500px;
  }

  .text-container {
    top: 120px;
  }

  #views, #views-number {
    margin-left: 76%;
  }
}

@media screen and (max-width: 360px) {
  .grey-box {
    width: 230px;
  }

  .playlist-box {
    height: 450px;
  }

  .text-container {
    top: 90px;
  }
}
