* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#main-section {
  background-color: #E2E2E2;
}

#page-header {
  background-color: #423C3C;
  border: 1px solid black;
  padding: 20px;
  width: 100vw;
}

.playlist-box {
  background-color: #FFFFFF;
  display: inline-block;
  border: 1px solid black;
  height: 500px;
  width: 300px;
}

/* Images */
#sansa-box {
  background-image: url(assets/sansa.png);
}

#bran-box {
 background-image: url(assets/bran.png);
}

#jon-box {
 background-image: url(assets/jon.png);
}

#arya-box {
 background-image: url(assets/arya.png);
}

#cersei-box {
 background-image: url(assets/cersei.png);
}

#tyrion-box {
 background-image: url(assets/tyrion.png);
}

#dany-box {
 background-image: url(assets/daenerys.png);
}

#marg-box {
 background-image: url(assets/maergery.png);
}

#arya-box, #bran-box, #cersei-box, #dany-box, #jon-box, #marg-box, #sansa-box, #tyrion-box {
  margin-bottom: 40px;
}

.arrow img {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  height: 16%;
  position: relative;
  top: 10px;
  left: 10px;
  width: 16%;
}

.box-images {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: local;
  background-size: 100%;
  background-position: top;
  border: none;
  box-shadow: 0 0 10px #000000;
  margin: 0 10px;
  vertical-align: top;
}

h1 {
  margin: 0px;
}

h3 {
  color: #FFF9F9;
  display: inline;
  font-size: 50px;
}

h3 img {
  height: 2.5%;
  width: 2.5%;
}

h4 {
  position: relative;
  top: 200px;
}

nav p {
  color: #BBCEC9;
  display: inline-block;
  margin-right: 40px;
}

nav p:hover {
  cursor: pointer;
}

#shares {
  color: #FFF9F9;
  font-size: 18px;
  text-shadow: 2px 2px black;
}
