/**************************************************
                General
**************************************************/

*{
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

button:focus {
  outline: none;
}

/**************************************************
              Main
**************************************************/

/********* section: top section  *****************/

h1{
  background-color: #E5F3F2;
  color: #00A79D;
  flex-direction: column;
  text-align: center;
  font-family: 'roboto slab';
  font-weight:700;
  font-size: 48px;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 30px;
}

h2 {
  width: 80%;
}

span {
  color: #6D6E71;
  font-family: 'roboto slab';
  font-weight:700;
}

.top-section {
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
}

.input {
  border: solid 2px #D1D3D4;
  display: block;
  margin: 0px auto 20px;
  padding-left:5px;
  height: 40px;
  width: 75%;
}

.web-inputs::-webkit-input-placeholder {
  color: #D1D3D4;
}

.save-button {
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  font-size: 22px;
}

.save-button:hover {
  background-color: #045E55;
}

.save-button:disabled {
  background-color: #00A79D;
}


/*****   input search field   *****************/
.search-box {
  margin-top: 25px;
}


/*****   2Do card     ******************/
.idea-card {
  border-bottom: solid 2px #D1D3D4;
  margin: auto;
  width: 75%;
}

.idea-card-header {
  color: #6D6E71;
  font-family: 'roboto slab';
  margin-left: 5px;
}

.idea-name-section {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  background: none;
  background-image: url(assets/delete.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  margin-top: 18px;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.delete-button:hover {
  background-image: url(assets/delete-hover.svg);
}

.article-text-container {
  color: #939598;
  font-size: 18px;
  width: 75%;
  margin-left: 5px;
}

.quality-control-container {
  color:  #6D6E71;
  /*display: flex;*/
  font-size: 18px;
  /*justify-content: flex-start;*/
}

.upvote-button {
  background: none;
  background-image: url(assets/upvote.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  margin-right: 25px;
  margin-top: 18px;
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.upvote-button:hover{
  background-image: url(assets/upvote-hover.svg);
}

.downvote-button {
  background: none;
  background-image: url(assets/downvote.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  margin-right: 25px;
  margin-top: 18px;
  height: 30px;
  width: 30px;
}

.downvote-button:hover {
  background-image: url(assets/downvote-hover.svg);
}

.completed-task-button  {
  float: right;
  border: none;
  border-radius: 36px;
  height: 36px;
  margin-right: 5px;
  color: #FFF;
  background-color: #D1D3D4;
  font-size: 15px;
  margin-top: 10px;
}

.quality-value  {
  display: inline;
  position: relative;
  top: -7px;
}

.completed-task-button:hover {
  background-color: #045E55;
}

.completed  {
  background: #D1D3D4;
  opacity: .6;
}


/**************************************************
              Media query max 375
**************************************************/

@media (max-width: 375px){

  .article-text-container {
    font-size: 14px;

  }

}
